<div class="row">
    <div class="col-sm-2 hidden-xs">
        <a class="twitter-timeline" href="https://twitter.com/EDGEResearchLab" data-widget-id="583860630962208768">Tweets by @EDGEResearchLab</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-sm-7">
        <ui-gmap-google-map
            center="map.center"
            zoom="map.zoom"
            options="map.options">

            <ui-gmap-polylines
                models="trackingPointModels"
                idKey="'edgeId'"
                path="'points'"
                stroke="'style'">
            </ui-gmap-polylines>

        </ui-gmap-google-map>
    </div>
    <div class="col-sm-3">
        <span ng-show="trackingPointModels.length === 0" class="text-center col-sm-12 no-info-view">
            Nothing to see here, check back on launch day!
        </span>

        <span ng-repeat="model in trackingPointModels">
            <flight-snapshot model="model"></flight-snapshot>
        </span>
    </div>
</div>
<!--<div class="row" style="padding-top: 10px;">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Altitude V. Time</div>
            <div class="panel-body">
                <canvas class="chart chart-line" data="altVsTime.data" labels="altVsTime.labels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">

    </div>
</div>-->
