<div class="row">
    <div class="col-sm-8">
        <ui-gmap-google-map
            center="map.center"
            zoom="map.zoom"
            options="map.options">

            <ui-gmap-polylines
                models="vorModels"
                idKey="'edgeId'"
                path="'points'"
                stroke="'style'"
                geodesic="'geodesic'">
            </ui-gmap-polylines>

        </ui-gmap-google-map>

    </div>
    <div class="col-sm-4">
        <span ng-show="vorModels.length === 0" class="text-center col-sm-12 no-info-view">
            Nothing to see here, check back on launch day!
        </span>

        <span ng-repeat="model in vorModels">
            <vor-summary model="model"></vor-summary>
        </span>
    </div>
</div>
