<div class="row" style="border-bottom: 1px solid {{model.style.color}};">
    <div class="col-sm-12 text-center">
        <h5>Balloon ID: {{model.edgeId}}</h5>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <!-- TODO: Create DD to DM Filter, Meters to Feet filter -->
        {{model.latitude | decimalDegToDegMinSec: 4}}, {{model.longitude | decimalDegToDegMinSec: 4}} @ {{model.altitude | metersToFeet: 2}}ft
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label>Call:</label>
    </div>
    <div class="col-sm-4">
        {{model.vors[0].call}}
    </div>
    <div class="col-sm-4">
        {{model.vors[1].call}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label>Bearing:</label>
    </div>
    <div class="col-sm-4">
        {{model.vors[0].bearing | number: 2}}&deg;
    </div>
    <div class="col-sm-4">
        {{model.vors[1].bearing | number: 2}}&deg;
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label>Distance:</label>
    </div>
    <div class="col-sm-4">
        {{model.vors[0].distance | number: 2}}nmi
    </div>
    <div class="col-sm-4">
        {{model.vors[1].distance | number: 2}}nmi
    </div>
</div>
